* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

header {
  background-color: rgb(45, 45, 45);
  text-align: center;
  padding: 20px;
  color: aliceblue;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  text-align: center;
}

.grid-item {
  display: grid;
  gap: 10px;
  border-radius: 8px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 8px rgb(86, 86, 86, 0.3);
  transition: transform 0.3s ease;
  object-fit: cover;
}

h2 {
  background-color: rgb(53, 53, 53);
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

}

button {
  padding: 10px;
  width: 100px;
  justify-content: center;
  margin: auto;
  background-color: #006f27;
  border-radius: 8px;
  margin-bottom: 10px;
  color: aliceblue;
  font-weight: bold;
  border: none;
}

.color {
  color: rgb(0, 167, 31);
  font-weight: bold;

}

.tick::before {
  content: "✔"
}

.wrong::before {
  content: "✗";
  font-weight: bold;
}

footer {
  background-color: rgb(53, 53, 53);
  color: aliceblue;
  text-align: center;
  padding: 10px;
}

.grid-item:hover {
  transform: scale(1.1);

}